<div class="card-deck">
    <%= for exchange <- @exchanges do %>
        <div class="card card-body bg-primary">
            <h4 class="text-center"><%= exchange %></h4>
            <div class="text-center">
                <%= link "Show", to: exchange_path(@conn, :show, exchange),
                class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>
