.container {
  width: 1px;
}

#source {
    margin: 0;
}

.BUY {
    color: green;
}

.SELL {
    color: red;
}

#sub-exchanges {
    color:gray;
}

.panel-body {
    padding-left: 10%;
}

.price-boxes {
    margin-top: 10%;
}

.price {
    // Do nothing
}

.price-display {
    font-weight: bold;
    text-align: center;
}

span {
    color: orange;
}

.up {
    color: green;
}

.down {
    color: red;
}

.exchange {
    color: #42f492;
}
